body{
    background-color: #f8f8f8 !important; /* verander background color */
  }

.box-vraag {
    background-color: #8FE507;
    margin: 0 auto;
    min-height: 50px;
    text-align: center;
    margin-top: 3vh;
    width: 75%;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    -webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border-radius: 25px;
    -webkit-border-radius: 25px;
}

.box-formulier {
    background-color: #fff;
    margin: 0 auto;
    margin-top: 40px;
    min-height: 450px;
    width: 75%;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    -webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    border-radius: 25px;
    -webkit-border-radius: 25px;
}
.vraag-content {
    padding: 0 auto;
    padding-top: 5px;

}
form {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;

}

form label {
    font-family: 'Caecilia LT Std 55 Roman', sans-serif;
    color: #000000;
}
.vraag-content h2{ /* verandert het font van de vraag */
    font-weight: normal;
    color: #000000;
    font-family: 'Caecilia LT Std 85 Heavy', sans-serif;
}
#myProgress {
    width: 100%;
    background-color:white;

}

.btn-glr {
    color: #fff;
    background-color: #8FE507 !important;
    border-color: #8FE507 !important;
}

#myBar{
    height: 30px;
    color: white;
    background-color: #8FE507 !important;
    border-color: #8FE507 !important; 
}

/*#Inleveren{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #297;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
#Inleveren:hover{
    background-color: #3a8;
}*/
ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 500px;
}
ul li
{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    -webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    /*border-radius: 25px; */
    background: #cfe09b;
    width: 200px;
    margin: 10px;
    padding: 10px;
    display: inline-block; 
    color: #3c3c3b;
}
#start 
{
    display:none;
    width: 100px;
}
input[type="radio"]{
    cursor: pointer;
}
#question-question {
    margin-top: -1px;
    padding-bottom: 1px;
}
#question-titel {
    padding-top: 3px;
}
.btn-glr a {
    color: white;
    text-decoration: none;
}
.btn-glr a:hover {
    color: #3c3c3b;
    text-decoration: none;
}
.box-formulier-container {
    padding: 15px;
    padding-top: 50px;
}
#image-big {
    padding-top: 30px;
}